
<div id="shadeLayer" class="pop-bg"></div>
<div id="pop-body-find" class="pop-container">
  <div class="pop-form">
    <div class="title">找回密码<a class="icon pop-close"></a></div>
    <div class="form-wrap col-1 reset-wrap">
      <form action="" name="resetForm"><span class="error-text"></span>
        <div class="field">
          <input type="password" placeholder="手机号"/>
        </div>
        <div class="field checkcode">
          <input type="password" placeholder="手机验证码"/><a class="mobile-check btn-primary-s">点击获取</a>
        </div>
        <div class="submit">
          <button type="submit" class="btn-primary btn-reset-confirm">确认找回</button>
        </div>
      </form>
    </div>
  </div>
</div>