
<div class="fixtool"><a class="fixtool-box fixtool-gotop"><span class="fixtool-small">回到顶部</span><span class="fixtool-large">回到<br/>顶部</span></a><a class="fixtool-box fixtool-survey"><span class="fixtool-small">问卷调查</span><span class="fixtool-large">问卷<br/>调查</span></a><a class="fixtool-box fixtool-help"><span class="fixtool-small">帮助中心</span><span class="fixtool-large">帮助<br/>中心</span></a><a class="fixtool-box fixtool-feedback"><span class="fixtool-small">意见反馈</span><span class="fixtool-large">意见<br/>反馈</span></a></div>
<footer id="footer">
  <div class="container">
    <div class="col-4-1">
      <h3>关于投资</h3>
      <ul>
        <li><a href="#">公司介绍</a></li>
        <li><a href="#">团队介绍</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">加入我们</a></li>
      </ul>
    </div>
    <div class="col-4-1">
      <h3>保障/协议</h3>
      <ul>
        <li><a href="#">安全保障</a></li>
        <li><a href="#">法律保障</a></li>
        <li><a href="#">服务协议</a></li>
        <li><a href="#">隐私声明</a></li>
      </ul>
    </div>
    <div class="col-4-1">
      <h3>帮助中心</h3>
      <ul>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">保理业务介绍</a></li>
        <li><a href="#">分期债权介绍</a></li>
        <li><a href="#">还款方式介绍</a></li>
      </ul>
    </div>
    <div class="col-4-1 last">
      <h3>联系我们</h3>
      <ul>
        <li>联系电话：400-807-8000 （工作日 9:00-22:00）</li>
        <li>客服邮箱：<a href="mailto:kefu@lantouzi.com">kefu@lantouzi.com</a></li>
        <li>公司地址：北京市朝阳区三里屯SOHO A座1701室</li>
        <li>我要合作：<a href="mailto:bd@lantouzi.com">bd@lantouzi.com</a></li>
      </ul>
    </div>
    <div class="bottom-content">
      <div class="safeguard"><a href="http://www.yeepay.com/" target="_blank" class="safe-yeepay"></a><a href="http://www.geotrust.com/" target="_blank" class="safe-geotrust"></a><a href="http://webscan.360.cn/" target="_blank" class="safe-360"></a><a href="https://www.sobug.com/" target="_blank" class="safe-sobug"></a><a href="http://sealinfo.trustutn.org/sealinfo/P31000020121218204627106798.html" target="_blank" class="safe-trustutn"></a><a href="https://s1.lantouzi.com/img/201412/renzheng.jpg" target="_blank" class="safe-acifi"></a></div>
      <div class="copyright">京ICP备14023229号 京ICP证150240号 <br/>北京大家玩科技有限公司  版权所有</div>
    </div>
  </div>
</footer>
<script src="js/front/base.js"></script>
<script src="js/front/form.js"></script>