
<div id="shadeLayer" class="pop-bg"></div>
<div id="pop-body-login" class="pop-container">
  <div class="pop-form">
    <div class="title">登 录<a class="icon pop-close"></a></div>
    <div class="form-wrap login-wrap">
      <form action="" name="loginForm" data-form="login">
        <div class="left-wrap login-left"><span id="registerFormError" class="error-text"></span>
          <div class="field">
            <input type="text" placeholder="手机号码" class="mobile"/>
          </div>
          <div class="field">
            <input type="password" placeholder="密码" class="password"/>
          </div>
          <div class="field checkcode">
            <input type="text" placeholder="验证码" class="mobileCode"/><a><img src="http://placehold.it/80x32" alt=""/><span class="change">换一张</span></a>
          </div>
          <div class="safe">
            <label for="">
              <input type="checkbox" checked="checked"/>记住帐号
            </label><a href="#" class="forgot-password">忘记密码</a>
          </div>
          <div class="submit">
            <button type="submit" id="loginFormBtn" class="btn-primary btn-login">登 录</button>
          </div>
        </div>
        <div class="right-wrap login-right">
          <h3>新用户注册</h3>
          <p>如果您还没有属于您的农大大账户</p><a id="login-register" class="btn-primary btn-register">注册新帐户</a>
        </div>
      </form>
    </div>
  </div>
</div>