
<section id="top-bar">
  <div class="container">
    <div class="site-nav-l">联系电话  400-807-8000&nbsp;&nbsp;<small>（工作日 9:00-22:00）</small><a href="#" class="icon weibo"></a><a href="#" class="icon weixin"></a></div>
    <div class="site-nav-r"><a href="javascript:;" id="user_register">注册</a><a href="javascript:;" id="user_login">登录</a><a href="#">手机APP</a><a href="#">帮助中心</a></div>
  </div>
</section>
<header class="header">
  <div class="container"><a href="/" class="logo">自然集</a>
    <nav class="nav">
      <ul>
        <li><a href="index.html" class="current">首页</a></li>
        <li><a href="info.html">正在众筹</a></li>
        <li><a href="/">即将众筹</a></li>
        <li><a href="/">发起众筹</a></li>
        <li><a href="/" class="user"><span class="icon"></span> 个人中心</a></li>
      </ul>
    </nav>
  </div>
</header>