
<div id="shadeLayer" class="pop-bg"></div>
<div id="pop-body-orderSuccess" class="pop-container">
  <div class="pop-form">
    <div class="title">网上支付提示<a class="icon pop-close"></a></div>
    <div class="form-wrap col-1">
      <div class="success-info">
        <div class="media"><img src="images/front/pay-ico.png"/></div>
        <div class="media-body">
          支付过程中，请不要关闭窗口。<br/>
          支付完成后，请根据您的情况点击下面按钮。
        </div>
        <p class="submit"><a href="javascript:;" class="save">保存</a><a href="javascript:;" class="cancel">取消</a></p>
      </div>
    </div>
  </div>
</div>