
<div id="shadeLayer" class="pop-bg"></div>
<div id="pop-body-reset" class="pop-container">
  <div class="pop-form">
    <div class="title">密码重置<a class="icon pop-close"></a></div>
    <div class="form-wrap col-1 reset-wrap">
      <form action="" name="resetForm"><span class="error-text"></span>
        <div class="field">
          <input type="password" placeholder="新密码 (6-14个字符)"/>
        </div>
        <div class="field">
          <input type="password" placeholder="确认新密码"/>
        </div>
        <div class="submit">
          <button type="submit" class="btn-primary btn-reset-confirm">确 认</button>
        </div>
      </form>
    </div>
  </div>
</div>