
<aside class="col-sub">
  <div class="initiator box"><img src="http://placehold.it/62x62" alt="头像" class="head"/>
    <h3>发起人<span class="name">老倪</span></h3>
    <p class="location">项目地点<span>山东</span></p>
    <p class="bio"><i>个人简介</i>我们是80后大学生，出身农村怀着浓浓思乡情，也怀着感恩之心，想把家乡的味道和大家分享。</p>
    <div class="reserve">
      <div class="project-status-detail">
        <div class="project-status-bar"><span class="schedule-bar"><i style="width:87%;" class="current"></i></span><span class="percentage">87%</span></div>
        <div class="projects-schedule-data">支持人数:<span class="data-number">849人</span><span class="time-left">剩余时间:</span><span class="data-number">44天</span></div>
      </div><a class="reserve-btn cannotbuy">筹款结束</a><a class="reserve-btn support">我要支持</a>
    </div>
    <div class="grand-total"><span>目前累计资金:</span><span class="funds">¥17944.00</span>
      <div class="tips">此项目须在<span class="end-date">2015/06/12</span>前，获得<span class="remain-need">¥20000.00</span>的支持才可成功!</div>
    </div>
  </div>
  <!--支持-->
  <div class="repay box">
    <div class="repay-title"><a href="#" class="repay-btn">支持￥68</a><span class="count has-supported">45人支持</span><span class="count receive-money hidden">￥3125</span></div>
    <div class="repay-content">
      <h3>倪老腌野生溪鱼干辣椒酱1瓶</h3>
      <p class="repay-intro">1、倪老腌野生溪鱼干辣椒酱1份（400克），2、倪老腌定制木勺1个（倪老腌承诺该项回报每个订单抽出5元回馈给学子）；新疆、内蒙古、西藏等地区需联系客服补运费。</p>
      <p class="repay-img"><img src="http://placehold.it/70x70" alt=""/><img src="http://placehold.it/70x70" alt=""/></p>
      <p class="grant">预计回报发放时间：项目筹款成功后的5天内</p>
    </div>
  </div>
  <!--筹款结束-->
  <div class="repay repay-unable box">
    <div class="repay-title"><a href="#" class="repay-btn repay-cannot">筹款结束</a><span class="count has-supported hidden">45人支持</span><span class="count receive-money">￥3125</span></div>
    <div class="repay-content">
      <h3>倪老腌野生溪鱼干辣椒酱1瓶</h3>
      <p class="repay-intro">1、倪老腌野生溪鱼干辣椒酱1份（400克），2、倪老腌定制木勺1个（倪老腌承诺该项回报每个订单抽出5元回馈给学子）；新疆、内蒙古、西藏等地区需联系客服补运费。</p>
      <p class="repay-img"><img src="http://placehold.it/70x70" alt=""/><img src="http://placehold.it/70x70" alt=""/></p>
      <p class="grant">预计回报发放时间：项目筹款成功后的5天内</p>
    </div>
  </div>
  <!--限额已满-->
  <div class="repay repay-unable box">
    <div class="repay-title"><a href="#" class="repay-btn repay-cannot">限额已满</a><span class="count has-supported hidden">45人支持</span><span class="count receive-money">￥3125</span></div>
    <div class="repay-content">
      <h3>倪老腌野生溪鱼干辣椒酱1瓶</h3>
      <p class="repay-intro">1、倪老腌野生溪鱼干辣椒酱1份（400克），2、倪老腌定制木勺1个（倪老腌承诺该项回报每个订单抽出5元回馈给学子）；新疆、内蒙古、西藏等地区需联系客服补运费。</p>
      <p class="repay-img"><img src="http://placehold.it/70x70" alt=""/><img src="http://placehold.it/70x70" alt=""/></p>
      <p class="grant">预计回报发放时间：项目筹款成功后的5天内</p>
    </div>
  </div>
  <!--关于支持与退款-->
  <div class="about-terms">
    <h3 class="title">关于支持与退款</h3>
    <div class="desc">
      <p>这个项目必须在2015年04月29日之前达到￥20000的目标才算成功，否则已经支持的订单将取消。</p>
      <p>订单取消时，您的支持金额，除了网银钱包退款到钱包账户外，储蓄卡和信用卡都是原路返回。</p>
    </div><span class="rectangle-edge"></span>
  </div>
</aside>