/*reset*/
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
/*通用类*/
.i560{
	width: 560px !important;
}
.i440{
	width: 440px !important;
}
.i190{
	width: 190px !important;
}
.i90{
	width: 90px !important;
}
.i230{
	width: 230px !important;
}
.ml10{
	margin-left: 10px;
}
.ml12{
	margin-left: 12px;
}
.mr10{
	margin-right: 10px;
}
.mt5{
	margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ml30{
	margin-left: 30px;
}
.pl12{
	padding-left: 12px !important;
}
.dib{
	display: inline-block;
}
.vat{
	vertical-align: top;
}
.vam{
	vertical-align: middle;
}
.textc{
	text-align: center;
}
.textl{
	text-align: left;
}
.pre{
	position: relative;
}
.pa{
	position: absolute;
}
.font_song{
	font-family: '宋体';
}
.f12{
	font-size: 12px;
}
/*通用表单按钮、图标*/
.cbtn:link, .cbtn:visited{
	display: inline-block;
	color: #333;
	font-size: 14px;
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	background-color: #EEEEEE;
	border: 1px solid #E1E1E1;
	border-radius: 2px;
}
.bluebtn:link, .bluebtn:visited{
	display: inline-block;
	color: #FFF;
	font-size: 14px;
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	background-color: #0092E2;
	border: 1px solid #0084D1;
	border-radius: 2px;
}
.greenbtn:link, .greenbtn:visited{
	display: inline-block;
	color: #FFF;
	font-size: 14px;
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	background-color: #65AF32;
	border: 1px solid #619D38;
	border-radius: 2px;
}
.clink:link, .clink:visited{
	color: #0066cc;
}
.clink:hover{
	text-decoration: underline;
}
.fbtn:link, .fbtn:visited{
	display: inline-block;
	color: #FFF;
	background-color: #65AF32;
	border-bottom: 3px solid #55932A;
	height: 38px;
	line-height: 38px;
	padding: 0 34px;
	font-size: 16px;
}
.graytext{
	color: #999;
}
.ctable{
	width: 100%;
	border: 1px solid #DDDDDD;
	text-align: center;
}
.ctable thead tr{
	height: 32px;
	line-height: 32px;
	background-color: #F3F3F3;
	font-family: '宋体';
	font-size: 12px;
	color: #333;
	font-weight: bold;
}
.ctable td{
	border: 1px solid #DDDDDD;
}
.ctable tbody td{
	line-height: 24px;
	padding: 2px 10px;
}
/*页面样式*/
.Validform_wrong{
	display: inline-block;
	font-size: 12px;
	background: #fff2f2;
	border: 1px solid #ffe4e0;
	padding: 2px 5px 3px;
	color: #ea4a36;
	line-height: 16px;
	height: 22px;
}
.Validform_wrong:before{
	content: url(../../images/front/create/form_error.png);
	margin-right: 5px;
	float: left;
}
.maincont{
	width: 1000px;
	margin: 40px auto 0;
}
.category li{
	display: inline-block;
	vertical-align: top;
	width: 106px;
	height: 34px;
	line-height: 33px;
	margin-right: 18px;
	border: 1px solid #CCCCCC;
	text-align: center;
}
.category li a.cateitem{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #333;
}
.category li .cateitem.checked{
	border: 1px solid #65AF32;
	background: url(../../images/front/create/checkbg.png) right bottom no-repeat;
}

.stepprogress{
	width:100%;
	height: 38px;
	background-position: top center;
	background-repeat: no-repeat;
	margin-bottom: 24px;
}
.stepprogress.step1{
	background-image: url(../../images/front/create/jdt1.png);
}
.stepprogress.step2{
	background-image: url(../../images/front/create/jdt2.png);
}
.stepprogress.step3{
	background-image: url(../../images/front/create/jdt3.png);
}
.stepprogress.step4{
	background-image: url(../../images/front/create/jdt4.png);
}
.formpanel{
	width: 942px;
	padding: 26px 30px;
	margin: 0 auto;
	background: #FFF;
	border: 4px solid #EEEEEE;
}
.formbtns{
	margin-top: 22px;
	margin-bottom: 40px;
}
.formtitle{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
}
.formpanel .row{
	margin-top: 22px;
	line-height: 30px;
}
.formpanel .row .optname{
	width: 100px;
	float: left;
	font-size: 14px;
	color: #333;
	padding-right: 8px;
	text-align: right;
}
.formpanel .row .optname.need:before{
	content: '*';
	color:#FF4242;
	vertical-align: middle;
  margin-right: 2px;
}
.formpanel .row .optcont{
	padding-left: 100px;

}
.formpanel .row input[type="text"], .formpanel .row select{
	height: 31px;
	border: 1px solid #CCCCCC;
	padding: 6px 0 6px 5px;
}
.formpanel input[type="radio"]{
	position: relative;
	top: 2px;
}
.formpanel .row select{
	width: 106px;
}
.formpanel textarea{
	width: 440px;
	height: 156px;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.formpanel .tip{
	font-size: 14px;
	color: #aaa;
	margin-left: 8px;
}
.formpanel .webuploader-pick{
	color: #333;
	font-size: 14px;
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	background: #EEEEEE;
	border: 1px solid #E1E1E1;
	border-radius: 2px;
}
.formpanel .formwarm{
	border: 1px solid #E4F3FD;
	border-radius: 2px;
	background-color: #F2FAFF;
	color: #389cd6;
	font-size: 12px;
	line-height: 17px;
	padding: 2px 10px 2px 5px;
	margin-left: 10px;
	display: inline-block;
	max-width: 334px;
}
.formpanel .formwarm span{
	float: left;
	max-width: 296px;
	display: inline-block;
}
.formpanel .formwarm:before{
	content: url(../../images/front/create/form_warm.png);
	margin-right: 5px;
	float: left;
	position: relative;
	top: 1px;
}
.formpanel .formborder{
	padding-bottom: 6px;
	background-color: #FCFEF9;
	border: 1px solid #92D167;
}
.formpanel .formborder .row{
	margin-top: 8px;
}
.uploader-list .upprogress{
	position: relative;
}
.uploader-list .upprogress .upprogresswrap{
	position: relative;
	display: inline-block;
	width: 160px;
	height: 8px;
	border-radius: 2px;
	background-color: #DDDDDD;
}
.uploader-list .upprogress .upprogressbar{
	position: absolute;
	left: 0;
	top: 0;
	height: 8px;
	border-radius: 2px;
	display: inline-block;
	background-repeat: repeat-x;
}
.uploader-list .upprogress .progresstext{
	position: absolute;
	margin-left: 10px;	
}
.uploader-list .upprogress.uping .upprogressbar{
	background-image: url(../../images/front/create/uping.png);
}
.uploader-list .upprogress.upfail .upprogressbar{
	background-image: url(../../images/front/create/upfail.png);
}
.uploader-list .upprogress.upsucc .upprogressbar{
	background-image: url(../../images/front/create/upsucc.png);
}
.uploader-list .upprogress.uping .progresstext{
	color: #28a1f2;
}
.uploader-list .upprogress.upfail .progresstext{
	color: #ec4c32;
}
.uploader-list .upprogress.upsucc .progresstext{
	color: #65af32;
}
.agreetext{
	font-size: 12px;
}
#agree{
	position: relative;
	top: 2px;
}
.lt_info{
	position: relative;
	top: -2px;
	display: inline-block;
	margin-left: 8px;
	color: #999;
}
.processdocpanel .file-item, .paybackdescimg .file-item{
	display: inline-block;
	width: 250px;
}
.imgoptbar{
	display: none;
}
.processdocpanel .imgoptbar, .paybackdescimg .imgoptbar{
	display: block;
	width: 162px;
	height: 18px;
	background-color: #F5F5F5;
}
.processimgpanel .file-item{
	display: inline-block;
	width: 120px;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
}
.processimgpanel .uploader-list{
	display: inline-block;
	max-width: 400px;
}
.processimgpanel .imgoptbar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 18px;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
}
.processimgpanel .webuploader-pick{
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.imgoptbar .delimg{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../images/front/create/delete.png) center center no-repeat;
	float: right;
}
.cardlist .carditem{
	display: inline-block;
	width: 250px;
	height: 44px;
	line-height: 42px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}
.cardimg{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 25px;
}
.cardlist .carditem.checked{
	background: #FFF3EA;
	border: 1px solid #FF9B48;
	color: #ff0000;
}
.cardimg.card1{
	background:url(../../images/front/create/nyyh.png) no-repeat;
}
.cardimg.card2{
	background:url(../../images/front/create/jsyh.png) no-repeat;
}
.cardimg.card3{
	background:url(../../images/front/create/gsyh.png) no-repeat;
}
.successpanel{
	width: 480px;
	margin: 45px auto;
	overflow: hidden;
}
.succicon{
	display: inline-block;
	width: 76px;
	height: 76px;
	float: left;
	margin-right: 20px;
	background: url(../../images/front/create/success.png) no-repeat;
}
.succtitle{
	font-size: 24px;
	color: #65af32;
	margin-bottom: 5px;
}
.succtext{
	font-size: 14px;
	color: #333;
}
#pickimg{
	display: inline-block;
	width: 120px;
	height: 76px;
	background: url(../../images/front/pickimg.png) no-repeat;
}