.parentpanel{
	overflow: hidden;
	padding-bottom: 150px;
}
.leftpanel{
	width: 130px;
	background-color: #F5F5F5;
	float: left;
	padding-bottom: 3000px;
	margin-bottom: -3000px;
}
.rightpanel{
	padding-left: 140px;
	min-height: 250px;
}
#wuliudetail .leftpanel{
	width: 200px;
	padding-top: 34px;
	background-color: #FFF;
}
#wuliudetail .rightpanel{
	padding-left: 210px;
}
.menulist{
	margin-top: 10px;
}
.menulist li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.menulist li a{
	display: inline-block;
	width: 90%;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	color: #333;
	
}
.menulist li a.active{
	color: #FFF;
	background-color: #65AF32;
	border-radius: 25px;
}
.tabpanel{

}
.tabheader{
	width: 100%;
	height: 36px;
	border-bottom: 2px solid #65AF32;
	position: relative;
}
.tabheader ul{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	padding-left: 20px;
}
.tabheader ul li{
	float: left;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
#questionmanage .tabheader ul li{
	width: 124px;
}
.tabheader ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #333;
}
.tabheader ul li a.active{
	background-color: #65AF32;
	border-radius: 2px 2px 0 0;
	color: #FFF;
}
.tabcontent{
	padding: 16px 0 0 16px;
}
#questionmanage .tabcontent{
	padding-top: 0;
}
.projectpic{
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-left: 12px;
}
#wuliudetail .projectpic{
	margin-left: 0;
}
.progresswrap{
	display: inline-block;
	width: 120px;
	height: 8px;
	border-radius: 2px;
	background: #DDDDDD;
	position: relative;
}
.progressbar{
	display: inline-block;
	height: 8px;
	border-radius: 2px;
	position: absolute;
	left: 0;
	top: 0;
}
.progressarea.complete .progressbar{
	width: 100%;
	background: url(../../images/front/create/upsucc.png) repeat-x;
}
.progressarea.doing .progressbar{
	background: url(../../images/front/create/uping.png) repeat-x;
}
.progressarea.fail .progressbar{
	width: 100%;
	background: url(../../images/front/create/upfail.png) repeat-x;
}
.progresstext{
	margin-left: 3px;
	font-size: 12px;
}
.progressarea.complete .progresstext{
	color: #65af32;
}
.progressarea.doing .progresstext{
	color: #28a1f2;
}
.progressarea.fail .progresstext{
	color: #ec4c32;
}
.statusitem{
	width: 60px;
	float: left;
	font-size: 12px;
	line-height: 16px;
}
.statusitem.rborder{
	border-right: 1px solid #CCCCCC;
}
#supporttable tbody td{
	padding: 5px 0;
}
.projectnamecell{
	text-align: left;
}
.projectnamecell span, .projname{
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}
.projname{
	width: 120px;
}
.tiptrigger{
	position: relative;
	display: inline-block;
}
.tiptrigger .tipinfo{
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	width: 225px;
	padding: 12px;
	background-color: #FFF3E9;
	border: 1px solid #FF9B48;
	font-size: 12px;
}
.tipinfo .uparrow{
	position: absolute;
	right: 15px;
	top: -15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../../images/front/uparrow.png) bottom center no-repeat;
}
.tipinfo .tipinfotitle{
	color: #333;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	font-size: 12px;
}
.tipinfo .tipinfocont{
	color: #666;
}
.tiptrigger:hover .tipinfo{
	display: block;
}
.tipinfocont ul li{
	margin: 12px 0;
	text-align: left;
	line-height: 20px;
}
.tipinfocont ul li.recent{
	color: #ff9b48;
}
.tipinfocont ul li:before{
	content: '·';
	display: inline-block;
	font-size: 60px;
	float: left;
	margin-top: -3px;
}
.wuliuinfoitem{
	width: 100%;
	padding: 8px;
	background-color: #FCFEF9;
	border: 1px solid #92D167;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 24px;
}
.wuliuinfoitem h3{
	font-size: 12px;
	font-family: '宋体';
}
.wuliudongtai{
	font-size: 12px;
	line-height: 24px;
}
.wuliudongtai dt{
	display: inline-block;
	vertical-align: top;
	width: 130px;
	margin-right: 18px;
}
.wuliudongtai dd{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 364px;
}
#supporttable .projstatus{
	float: right;
	border-radius: 2px;
	margin-right: 16px;
	line-height: 19px;
	padding: 0 3px;
}
#supporttable .projstatus.green{
	color: #65AF32;
	border: 1px solid #65AF32;	
}
#supporttable .projstatus.blue{
	color: #28A1F2;
	border: 1px solid #28A1F2;	
}
#supporttable .projstatus.red{
	color: #EC4C32;
	border: 1px solid #EC4C32;	
}
/*问题管理页面样式*/
.usericonarea{
	width: 56px;
	height: 100px;
	float: left;
	margin-right: 10px;
}
.usericonarea .usericon{
	width: 56px;
	height: 56px;
}
.commentitem{
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px dashed #DDD;
}
.commentitem .username{
	font-size: 16px;
	color: #333;
}
.commentitem .commentcont{
	font-size: 14px;
	color: #666;
	margin-top: 3px;
}
.replypanel{
	overflow: hidden;
}
.commentitem .reply{
	font-size: 12px;
}
.ownericon{
	width: 36px;
	height: 36px;
	float: left;
	margin-right: 12px;
	margin-top: 20px;
}
.replycontent{
	width: 570px;
	float: left;
	margin-top: 20px;
}
.formpanel .replytext{
	width: 438px;
	height: 160px;
}
.ownername{
	font-size: 15px;
	color: #65af32;
}