.parentpanel{
	overflow: hidden;
}
.leftpanel{
	width: 130px;
	background-color: #F5F5F5;
	float: left;
	padding-bottom: 3000px;
	margin-bottom: -3000px;
}
.rightpanel{
	padding-left: 140px;
	min-height: 250px;
}
.menulist{
	margin-top: 10px;
}
.menulist li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.menulist li a{
	display: inline-block;
	width: 90%;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	color: #333;
	
}
.menulist li a.active{
	color: #FFF;
	background-color: #65AF32;
	border-radius: 25px;
}
.tabpanel{

}
.tabheader{
	width: 100%;
	height: 36px;
	border-bottom: 2px solid #65AF32;
	position: relative;
}
.tabheader ul{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	padding-left: 20px;
}
.tabheader ul li{
	float: left;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.tabheader ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #333;
}
.tabheader ul li a.active{
	background-color: #65AF32;
	border-radius: 2px 2px 0 0;
	color: #FFF;
}
.tabcontent{
	padding: 16px 0 0 16px;
}
.projectpic{
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-left: 12px;
}
.progresswrap{
	display: inline-block;
	width: 120px;
	height: 8px;
	border-radius: 2px;
	background: #DDDDDD;
	position: relative;
}
.progressbar{
	display: inline-block;
	height: 8px;
	border-radius: 2px;
	position: absolute;
	left: 0;
	top: 0;
}
.progressarea.complete .progressbar{
	width: 100%;
	background: url(../../images/front/create/upsucc.png) repeat-x;
}
.progressarea.doing .progressbar{
	background: url(../../images/front/create/uping.png) repeat-x;
}
.progressarea.fail .progressbar{
	width: 100%;
	background: url(../../images/front/create/upfail.png) repeat-x;
}
.progresstext{
	margin-left: 3px;
	font-size: 12px;
}
.progressarea.complete .progresstext{
	color: #65af32;
}
.progressarea.doing .progresstext{
	color: #28a1f2;
}
.progressarea.fail .progresstext{
	color: #ec4c32;
}
.statusitem{
	width: 60px;
	float: left;
	font-size: 12px;
	line-height: 16px;
}
.statusitem.rborder{
	border-right: 1px solid #CCCCCC;
}
#supporttable td{
	padding: 0;
}
.projectnamecell{
	text-align: left;
}
.projectnamecell span{
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}